<h1>Listing page_images</h1>

<table>
  <thead>
    <tr>
      <th>Page</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @page_images.each do |page_image| %>
      <tr>
        <td><%= page_image.page %></td>
        <td><%= page_image.image %></td>
        <td><%= link_to 'Show', page_image %></td>
        <td><%= link_to 'Edit', edit_page_image_path(page_image) %></td>
        <td><%= link_to 'Destroy', page_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page image', new_page_image_path %>
