

<p id="notice"><%= notice %></p>


<p>
  <strong>Page:</strong>
  <%= @page_image.page %>
</p>

<p>
  <strong>Image:</strong>
  <%= @page_image.image %>
</p>

<%= image_tag @page_image.image.url %>
<%#= image_tag @page_image.image.url(:original) %>
<%#= image_tag @page_image.avatar.url(:thumb) %>


<%= link_to 'Edit', edit_page_image_path(@page_image) %> |
<%= link_to 'Back', page_images_path %>

<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  美化图片
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="height: 500px;">
        <div id="altContent">
          <h1>美图秀秀</h1>
        </div>
      </div>
    </div>
  </div>
</div>
