<p id="notice"><%= notice %></p>

<p>
  <strong>Payment:</strong>
  <%= @payment_notify.payment %>
</p>

<p>
  <strong>Payment number:</strong>
  <%= @payment_notify.payment_number %>
</p>

<p>
  <strong>Payment count:</strong>
  <%= @payment_notify.payment_count %>
</p>

<p>
  <strong>State:</strong>
  <%= @payment_notify.state %>
</p>

<p>
  <strong>Cate:</strong>
  <%= @payment_notify.cate %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment_notify.status %>
</p>

