<% @pages.each do |page| %>
  <div class="card <%= page.tag_list %>">
    <%= link_to get_url(page), class: 'thumb' do %>
      <img src="<%= page.image %>" alt="<%= page.title %>" title="<%= page.title %>" />
      <span class="overlay"><%= image_tag page.qrcode %></span>
    <% end %>
    <div class="card-body">
      <% if user_signed_in? && current_user.id == page.user_id %>
        <h2><%= link_to page.title, user_page_path(current_user, page) %></h2>
      <% else %>
        <h2><%= link_to page.title, get_url(page) %></h2>
      <% end %>
    </div><!-- end card-body -->
    <div class="card-footer">
      <ul class="list-inline filters">
        <% page.tag_list.each do |tag| %> 
          <li><%= link_to tag, tag_path(@user, tag) %></li>
        <% end %>
        <li class="pull-right">
        <% if user_signed_in? %>
          <%= link_to '拷贝', new_user_page_path(current_user, extend_url: get_url(page)) %> 
          <% if current_user.id == page.user_id %>
            <%= link_to '修改', edit_user_page_path(current_user, page) %> |
            <%= link_to '删除', [current_user, page], method: :delete, data: { confirm: '删除以后无法恢复，确定要删除吗?' } %>
          <% end %>
        <% end %>
        </li>
      </ul>
    </div><!-- end card-footer -->
  </div><!-- end card -->
<% end %>