<% content_for :side_bar do %>
  <% if @user && params[:qrcode].nil? %>
    <ul class="nav navbar-nav filter-portfolio">
      <li class="title">产品系列</li>
      <% @user.pages.tag_counts.each do |tag| %>
         <li><%= link_to tag_path(@user, tag.name) do %>
            <i class="fa fa-tags"></i>  <%= tag.name %>
         <% end %><span>(<%= tag.count %>)</span> </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<div class="content">
  <div class="portfolio-wrapper">
    <% if params[:qrcode] %>
      <%= render partial: 'pages/list_qr' %>
    <% else %>
       <%= render partial: 'pages/list' %>
    <% end %>
  </div><!-- end portfolio-wrapper -->
  <div class="pagination-wrapper">
    <%= will_paginate @pages %>
  </div>
</div><!-- end content -->