<% title @page.title %>
<% meta_keywords  [@page.title, Keystore.value_for("site_title")].join('|')%>
<% meta_description @page.description %>

<% content_for :side_bar do %>

<% end %>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-9">
    <div class="content">
      <div class="page">
        <article>
          <div class="page-header">
            <h1> <%= @page.title %></h1>
            <p class="lead"><%= @page.description %></p>

          </div><!-- end page-header -->
          <div class="row">
            <div class="col-md-12">
              <ul class="list-unstyled post-meta">
                <% unless @page.properties.blank? %>
                  <li><span class="fa fa-th"></span>型号： <%= @page.properties %> </li>
                <% end %>
                <% unless @page.amount.blank? %>
                  <li><span class="fa fa-sort-amount-asc"></span>库存： <%= @page.amount %> </li>
                <% end %>
                <% unless @page.price.blank? %>
                  <li><span class="fa fa-cny"></span>价格： <%= @page.price %> </li>
                <% end %>
               <!--  <li><a id="online-order" href="#none" class="btn btn-default btn-lg" data-html="true" data-toggle="popover" title="" data-original-title="在线预定">在线预定</a> &nbsp;&nbsp;&nbsp;&nbsp; <a id="online-rate" href="#none" class="btn btn-default btn-lg" data-html="true" data-toggle="popover" title="" data-original-title="有奖转发">有奖转发</a></li> -->

              </ul><!-- end post-meta -->
            </div><!-- end col -->
          </div>
          <% if @page.extend_url.blank? %>
            <div id="editable" contenteditable="true">
              <%= raw @page.content %>
            </div>
          <% else %>
            扩展链接： <%= link_to get_url(@page), get_url(@page) %>
          <% end %>
          
        </article>
      </div><!-- end page -->
    </div><!-- end content -->
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="content">
      <div class="page">
        <% if user_signed_in? && current_user.id == @page.user_id %>
        <div class="panel panel-primary">
          <div class="panel-body">
            <div class="btn-group">
              <%= simple_form_for([current_user, @page]) do |f| %>
                <%= f.input :content, as: :hidden %>
                <%= f.button :submit, id: "page_content_submit", value: "保存", class: "btn btn-large btn-default btn-block" %>
              <% end %>

              <%= link_to edit_user_page_path(current_user, @page), class: 'btn btn-lg btn-success' do %> 
                <i class="fa fa-pencil"> </i> 编辑
              <% end %>
              <%= link_to get_url(@page), class: 'btn btn-lg btn-success' do %> 
                <i class="fa fa-only fa-star"></i> 预览
              <% end %>
              <%= link_to [current_user, @page], method: :delete, data: { confirm: '删除以后无法恢复，确定要删除吗?' }, class: 'btn btn-lg btn-success' do %>
                <i class="fa fa-trash-o"> </i> 删除
              <% end %>
            </div>
            
          </div>
        </div>
        <% end %>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">二维码展示</h3>
          </div>
          <div class="panel-body">
            <img src="<%= @page.qrcode %>" alt="<%= get_url(@page) %>" title="<%= @page.title %>" class="qrcode-img" />
            <div class="text-center"><em> <%= @page.title %> </em></div>
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">总访问量</h3>
          </div>
          <div class="panel-body">
            <%= Keystore.value_for("page:#{@page.id}:view_count")%>
          </div>
        </div>

        <div class="panel panel-primary">
          <table class="table table-alternative table-hover">
            <thead>
              <tr>
                <th colspan="3">会员页面转发统计</th>
              </tr>
            </thead>
            <tbody>
              <% @page.page_rates.order("ip_count desc").each_with_index do |pr, index| %>
                <tr>
                  <td><%= pr.member.phone %>(<%= pr.member.name %>)</td>
                  <td><span class="label label-medium label-<%= index > 2 ? 'info' : 'warning' %>"><%= pr.ip_count %></span></td>
                  <td><span class="label label-medium label-<%= index > 2 ? 'info' : 'warning' %>"><%= pr.pv_count %></span></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'pages/order_rate_form' %>

<script>
  // inline edit page content
  //Guide: http://docs.ckeditor.com/#!/guide/dev_inline

  // Turn off automatic editor creation first.
  CKEDITOR.disableAutoInline = true;
  CKEDITOR.inline( 'editable' );
  $('#page_content_submit').attr('disabled', true); 

  //save change
  CKEDITOR.instances.editable.on( 'blur', function(){
    $('#page_content_submit').attr('disabled', false); 
    $('#page_content_submit').css("background-color","#D6D6FF");
    var data = CKEDITOR.instances.editable.getData();
    $('#page_content').val(data);
  } );
  
</script>