<% title @page.title %>
<% meta_keywords  [@page.title, '探码'].join('|')%>
<% meta_description @page.description %>

<% content_for :side_bar do %>
  <ul class="nav navbar-nav hidden-sm hidden-xs">
    <li class="title">产品二维码</li>
    <li>
      <img src="<%= @page.qrcode %>" alt="<%= get_url(@page) %>" title="<%= @page.title %>" class="qrcode-img" />
      <p class="text-center">扫描本产品二维码，在手机上查看~</p>
    </li>
  </ul>
<% end %>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-9">
    <div class="content">
      <div class="page">
        <article>
          <div class="page-header">
            <h1> <%= @page.title %></h1>
            <p class="lead"><%= @page.description %></p>
          </div><!-- end page-header -->
          <div class="row">
            <div class="col-md-12">
              <ul class="list-unstyled post-meta">
                <% unless @page.properties.blank? %>
                  <li><span class="fa fa-th"></span>型号： <%= @page.properties %> </li>
                <% end %>
                <% unless @page.amount.blank? %>
                  <li><span class="fa fa-sort-amount-asc"></span>库存： <%= @page.amount %> </li>
                <% end %>
                <% unless @page.price.blank? %>
                  <li><span class="fa fa-cny"></span>价格： <%= @page.price %> </li>
                <% end %>
               <!--  <li><a id="online-order" href="#none" class="btn btn-default btn-lg" data-html="true" data-toggle="popover" title="" data-original-title="在线预定">在线预定</a> &nbsp;&nbsp;&nbsp;&nbsp; <a id="online-rate" href="#none" class="btn btn-default btn-lg" data-html="true" data-toggle="popover" title="" data-original-title="有奖转发">有奖转发</a></li> -->

              </ul><!-- end post-meta -->
            </div><!-- end col -->
          </div>
          <% if @page.extend_url.blank? %>
            <%= raw @page.content %>
          <% else %>
            
          <% end %>
          
        </article>
      </div><!-- end page -->
    </div><!-- end content -->
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="content">
      <div class="page">
        <% if user_signed_in? && current_user.id == @page.user_id %>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">页面管理</h3>
          </div>
          <div class="panel-body">
            <%= link_to '修改', edit_user_page_path(current_user, @page), class: 'btn btn-primary btn-large' %> &nbsp;&nbsp;
            <%= link_to '删除', [current_user, @page], method: :delete, data: { confirm: '删除以后无法恢复，确定要删除吗?' }, class: 'btn btn-grey btn-large' %>
          </div>
        </div>
        <% end %>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">总访问量</h3>
          </div>
          <div class="panel-body">
            <%= Keystore.value_for("page:#{@page.id}:view_count")%>
          </div>
        </div>

        <ul class="list-group">
          <li class="list-group-item active">
            会员页面转发统计
          </li>
          <% @page.page_rates.order("rate_count desc").each do |pr| %>
            <li class="list-group-item">
              <b><%= pr.member.phone %>(<%= pr.member.name %>)</b>: 
              <span class="badge badge-important"><%= pr.rate_count %></span>
            </li>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'pages/order_rate_form' %>