<%= simple_form_for(@book) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.association :page, as: :hidden, input_html: { value: params[:book][:page_id]} %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.input :address %>
    <%= f.input :message %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, input_html: {class: 'btn btn-primary'} %>
  </div>
<% end %>
