<h2>订单管理</h2>
<div class="table-responsive">
  <table class="table table-alternative table-hover">
    <thead>
      <tr>
        <th>预定产品</th>
        <th>电话</th>
        <th>其他信息</th>
        <th>提交时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.page.title, get_url(book.page) %></td>
        <td><%= book.member.phone %></td>
        <td><%= [book.message].join(', ') %></td>
        <td><%= book.created_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= link_to '删除', book, method: :delete, data: { confirm: '确定要删除吗?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>