<h1>Listing payments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Price</th>
      <th>State</th>
      <th>Pending at</th>
      <th>Completed at</th>
      <th>Canceled at</th>
      <th>Paid at</th>
      <th>Trade no</th>
      <th>Note</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.user %></td>
        <td><%= payment.price %></td>
        <td><%= payment.state %></td>
        <td><%= payment.pending_at %></td>
        <td><%= payment.completed_at %></td>
        <td><%= payment.canceled_at %></td>
        <td><%= payment.paid_at %></td>
        <td><%= payment.trade_no %></td>
        <td><%= payment.note %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
