<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @payment.user %>
</p>

<p>
  <strong>Price:</strong>
  <%= @payment.price %>
</p>

<p>
  <strong>State:</strong>
  <%= @payment.state %>
</p>

<p>
  <strong>Pending at:</strong>
  <%= @payment.pending_at %>
</p>

<p>
  <strong>Completed at:</strong>
  <%= @payment.completed_at %>
</p>

<p>
  <strong>Canceled at:</strong>
  <%= @payment.canceled_at %>
</p>

<p>
  <strong>Paid at:</strong>
  <%= @payment.paid_at %>
</p>

<p>
  <strong>Trade no:</strong>
  <%= @payment.trade_no %>
</p>

<p>
  <strong>Note:</strong>
  <%= @payment.note %>
</p>
