<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : Keystore.value_for('site_title') %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Tanmer" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <link href="//libs.baidu.com/fontawesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if @page && @page.typo == 'single page' %>
      <%= raw @page.content %>
    <% else %>
      <div class="wrapper">
        <div class="row">
          <div class="col-md-3 sidebar">
            <div class="navbar" role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#rebound-navbar-collapse"><span class="fa fa-bars"></span> 导航</button>
                <% if u = (current_user || @user) %>
                  <a href="/users/<%= u.id %>" class="navbar-brand"><%= u.name %></a>
                <% else %>
                  <a href="/" class="navbar-brand main-color"><i class="fa fa-qrcode fa-2x"></i></a>
                <% end %>
                <p class="brand-text"><%= Keystore.value_for("site_title") %></p>
              </div><!-- end navbar-header -->
              <div class="collapse navbar-collapse" id="rebound-navbar-collapse">
                <ul class="nav navbar-nav">
                  <li class="title">菜单</li>
                  <li class="active"><a href="/">关于</a></li>
                  <%= render 'layouts/navigation_links' %>
                </ul>
                <ul class="nav navbar-nav">
                  <% if user_signed_in? %>
                    <li class="title">管理</li>
                     <li>
                      <%= link_to new_user_page_path(current_user.id), class: "active" do %>
                        <i class="fa fa-plus"></i>  添加页面
                      <% end %>
                    </li>
                    <li>
                      <%= link_to books_path do %>
                        <i class="fa fa-book"></i>  查看订单
                      <% end %>
                    </li>
                    <li>
                      <%= link_to user_members_path(current_user) do %>
                        <i class="fa fa-users"></i>  查看会员
                      <% end %>
                    </li>
                    <li>
                      <%= link_to user_pages_path(current_user.id, qrcode: true) do %>
                        <i class="fa fa-qrcode"></i>  打印二维码
                      <% end %>
                    </li>
                    <li>
                      <%= link_to user_pages_path(current_user.id) do %>
                        <i class="fa fa-list"></i>  产品列表
                      <% end %>
                    </li>
                  <% else %>
                    <li>
                      <%= link_to case_path do %>
                        <i class="fa fa-list"></i>  案例中心
                      <% end %>
                    </li>
                  <% end %>
                </ul>
                <%= yield(:side_bar) %>
                <form class="navbar-form" role="search" action="/search">
                  <div class="input-group">
                    <input name="search" type="text" class="form-control" placeholder="标题/产品/电话号码..." value="" />
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit"><span class="fa fa-search"></span></button>
                    </span>
                  </div><!-- end input group -->
                </form><!-- end navbar-form -->
              </div><!-- end navbar-collapse -->
            </div><!-- end navbar -->
          </div><!-- end col -->
          <div class="col-xs-12 col-sm-12 col-md-9">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div><!-- end col -->
        </div><!-- end row -->
      </div><!-- end wrapper -->
      
      <footer class="hidden-xs">
        <p class="pull-left">&copy; 版权所有 2014. <%= Keystore.value_for("site_title") %>.</p>
      </footer>
    <% end %>
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript">
      
      $(document).ready(function() {
        
        $('.dropdown-toggle').dropdown();
        var $container = $('.portfolio-wrapper');
        $container.imagesLoaded( function(){
          $container.isotope({
            itemSelector : '.card',
            layoutMode : 'fitRows'
          });
        });
        
        // Needed functions
        var getColWidth = function() {
          var width,
          windowWidth = $(window).width();
          if( windowWidth <= 480 ) {
            width = Math.floor( $container.width() );
          } else if( windowWidth <= 768 ) {
            width = Math.floor( $container.width() );
          } else {
            width = Math.floor( 250 );
          }
          return width;
        }

        function setWidths() {
          var colWidth = getColWidth();
          $container.children().css({ width: colWidth });
        }

    
        $(window).smartresize(function() {
          setWidths();
          $container.isotope({
            masonry: {
              columnWidth: getColWidth()
            }
          });
        });
        
        $('.filter-portfolio li a').click(function(){
          $('.filter-portfolio li.active').removeClass('active');
          $(this).parent('li').addClass('active');
          var selector = $(this).attr('data-filter');
          $container.isotope({
            filter: selector,
            masonry: {  }
          });
          return false;
        });
        // update columnWidth on window resize
        $(window).smartresize(function(){
          $container.isotope({
            // update columnWidth to a percentage of container width
            masonry: {  }
          });
        });
        
      });
      
    </script>

    <script type="text/javascript">
      $(document).ready(function() {
        $('.dropdown-toggle').dropdown();
        $('[data-toggle=tooltip]').tooltip();
        //$('[data-toggle=popover]').popover({html:true});

        $('#online-order').popover({
            html:true,
            placement:'top',
            content:function(){
              return $('#order-form').html();
            }
        });
        $('#online-rate').popover({
            html:true,
            placement:'top',
            content:function(){
              return $('#rate-form').html();
            }
        });

      });
    </script>

  </body>
</html>
