
<h2>会员<%= @member.phone.gsub(/\d{4}$/, '****') %>的相关统计信息</h2>

<h3>预定统计:</h3>
<div class="list-group">
  <% @member.books.order("updated_at DESC").each do |book| %>
    <% next if book.page.nil? %>
    <li class="list-group-item">
      <%= link_to book.page.title, get_url(book.page) %>
       <span class="badge badge-important"><%= book.message %></span>
    </li>
  <% end %>
</div>

<h3>转发统计:</h3>
<div class="list-group">
  <% @member.page_rates.order("rate_count DESC").each do |page_rate| %>
    <% next if page_rate.page.nil? %>
    <li class="list-group-item">
      <%= link_to page_rate.page.title, get_url(page_rate.page, page_rate.id) %>
       <span class="badge badge-important"><%= page_rate.rate_count %></span>
    </li>
  <% end %>
</div>

